pkg/
target/
venv-maturin/
.idea/
Cargo.lock
*.pdb
*.dat
p
o
l
pp
ll
oo
ooo
lll
source/
venv/
.venv/
_build/
.pybioshell/
pybioshell/.venv/
pybioshell/.pybioshell/
pybioshell/docs/_build/
taxdump.tar.gz
